@import "../utils/variables";
@import "../utils/mixins";
.about {
  background: $main-bg;

  &__label {
    font-family: "Poppins", sans-serif;
    margin-top: 76px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    letter-spacing: 0.03em;
    color: $main-color;
    text-align: center;
    padding: 12px 24px;
    width: 162px;
    background: $main-p;
  }

  &__title {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 117%;
    letter-spacing: 0.01em;
    color: #054457;
    margin-bottom: 48px;

    @include desktop-screen {
      font-size: 48px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 84px;

    @include tablet-screen {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include desktop-screen {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 100%;
    height: auto;

    @include tablet-screen {
      width: 45%;
    }

    @include desktop-screen {
      width: 376px;
      height: 268px;
    }
  }

  &__icon {
    width: 54px;
    height: 54px;
    margin-bottom: 16px;
  }

  &__item-title {
    margin-bottom: 16px;
  }

  &__item-text {
    max-width: 400px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0.03em;
    color: #73788c;
  }
}

section {
  padding: 80px 0;
}
