@import "../utils/variables";
@import "../utils/mixins";
.header {
  padding: 15px 0;
  background: $main-bg;
  position: sticky;
  top: 0;
  z-index: 100;

  @include desktop-screen {
    padding: 20px 0;

    &__logo {
      margin-right: 25px;

      @include desktop-screen {
        margin-right: 216px;
        margin-top: 10px;
      }
    }

    &__actions {
      margin-top: 16px;
      margin-left: 1px;

      @include desktop-screen {
        margin-left: 32px;
      }
    }

    &__sign {
      color: $main-color;
      padding: 16px 48px 15px;
      width: 151px;
      height: 55px;
      background: $main-bg;
    }

    &__login {
      color: white;
      padding: 16px 48px 15px;
      width: 139px;
      height: 55px;
      background: $main-color;
    }
  }
  .nav {
    @include desktop-screen {
      display: flex;
    }
    @include tablet-screen {
      flex-direction: row;
    }
    &__list {
      background: $main-bg;
      width: 100px;
      font-weight: 500;
      font-size: 18px;
      line-height: 144%;
      letter-spacing: 0.03em;

      @include tablet-screen {
        flex-direction: row;
        gap: 24px;
      }

      @include desktop-screen {
        display: flex;
        width: auto;
        gap: 48px;
        margin-top: 16px;
      }
    }
  }
}

.item {
  position: relative;
  color: #8e8e8e;
  transition: color 0.5s ease-out;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: scale(0);
    width: 6px;
    height: 6px;
    background: $main-color;
    border-radius: 50%;
    transition: 0.3s;
  }

  &:hover::after {
    transform: scale(1);
  }

  &:hover {
    color: $main-color;
  }
}
