@import "../utils/variables";
@import "../utils/mixins";
.home {
  background: $main-bg;
  background-image: url("/img/home-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 890px;

  @include desktop-screen {
    background-position: right center;
    background-size: 890px;
    color: #73788c;
  }

  &__label {
    font-family: "Poppins", sans-serif;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    letter-spacing: 0.03em;
    color: $main-color;
    text-align: center;
    padding: 12px 24px;
    width: 162px;
    background: $main-p;
  }

  &__title {
    font-family: "Rubik", sans-serif;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 38px;
    line-height: 116%;
    letter-spacing: 0em;
    color: #1f2744;
    max-width: 200px;

    @include desktop-screen {
      max-width: 600px;
      font-size: 64px;
    }
  }

  &__text {
    font-family: "Poppins", sans-serif;
    margin-bottom: 64px;

    max-width: 200px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0em;
    color: black;

    @include desktop-screen {
      color: #73788c;
      max-width: 500px;
    }
  }
  &__tabs {
    display: flex;
  }
  &__buy {
    border: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0em;
    color: $main-color;
    padding: 12px 32px;
    width: 109px;
    height: 56px;
    background: white;
  }

  &__rent {
    font-family: "Poppins", sans-serif;
    border: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0em;
    color: $main-text;
    padding: 12px 32px;
    width: 119px;
    height: 56px;
    background: $main-bg;
  }

  &__form {
    margin-bottom: 108px;
    width: 188px;
    height: auto;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    @include desktop-screen {
      flex-direction: row;
      width: 751px;
      height: 124px;
      gap: 40px;
    }
  }

  &__field {
    gap: 4px;
    width: 100%;
    margin-top: 0;

    @include tablet-screen {
      width: 45%;
    }

    @include desktop-screen {
      width: 197px;
      height: 60px;
      margin-top: 32px;
    }
  }

  &__h2 {
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    letter-spacing: 0em;
    color: #1f2744;
  }

  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    padding: 10px 60px;
    width: 50px;
    color: white;
    background: $main-color;

    @include desktop-screen {
      width: 153px;
      height: 60px;
    }
  }
}

select {
  background-image: url("/img/icon/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding: 10px 40px 10px 10px;
  appearance: none;
  cursor: pointer;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  color: $main-text;
}
